
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
<!-- Include jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include Axios library -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <main>
        <label>Name:</label>
        <input type="text" id="name-input">
        <button id="btn-add">Add</button>
    </br>
</br>
        <input placeholder="search-name" id="search">
        <button id="search-btn">Search</button>
        <table>
            <thead>
                <th>ID</th>
                <th>name</th>
                <th>Dete Added</th>
                <th>Delete</th>
            </thead>
            <tbody></tbody>
        </table>
    </main>


<script src="script.js"></script>
</body>
</html>